body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Commodity{
  width:1200px;
  height:800px;
  margin:50px 0 0 100px;
  position: relative;
}
.item{
  width:230px;
  height:360px;
  border:1px solid #eee;
  float: left;
  margin:10px 20px 0 0;
  position: relative;
}
.item_info{
  margin:0;
  display: flex;
  justify-content: space-around;
}
.item_text{
  font-size:12px;
  font-family: '微软雅黑';
}
.item_price{
  font-size:16px;
  font-weight:bold;
  color:#F40;
}
.item_btn{
  height:50px;
  line-height:50px;
  position: absolute;
  bottom:0px;
  left:0;
  margin:0;
  display: flex;
  justify-content: space-around;
}
.item_btn span{
  display: inline-block;
  width:110px;
  height:100%;
}
.add{
  background: skyblue;
}
.find{
  background: pink;
}
.nav{
  position: absolute;
  top: -20px;
}
.nav span{
  margin-right:20px;
}
