*{
  margin: 0;
  padding: 0;
}
img{
  border: 0;
  display: block;
}
body {
  font-family: sans-serif;
}
ul,li{
  list-style: none;
}
.shop_list{
  width:980px;
  height:800px;
  margin:50px 0 0 100px;
  position: relative;
}
.item{
  width:210px;
  height:340px;
  border:1px solid #eee;
  float: left;
  margin:10px 10px 0 0;
  position: relative;
}
.item img{
  width:210px;
  height:240px;
}
.item_text{
  padding: 2px 12px;
  display: block;
  font-size:16px;
  font-family: 微软雅黑;
}
.item_info{
  font-size:16px;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
.item_price{
  font-weight:bold;
  color:#F40;
}
.item_btn{
  height:50px;
  line-height:50px;
  position: absolute;
  bottom:0px;
  left:0;
  right: 0;
  display: flex;
  justify-content: space-around;
}
.item_btn span{
  cursor: pointer;
  flex-grow:1; 
  height:100%;
  text-align: center;
}
.add{
  background: skyblue;
}
.find{
  background: pink;
}
.title{
  position: absolute;
  top: -30px;
}
.title a{
  width: 80px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 8px;
  background: rgb(82, 185, 245);
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  display: inline-block;
}
.list{
  margin: 50px;
  width: 800px;
  border-radius: 10px;
  overflow: hidden;
}
.list li{
  padding: 20px;
  background: #ddd;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #666;
}
.list li img{
  width: 60px;
  height: 60px;
  border-radius: 6px;
}
